*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #381010;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
.body{
    overflow: hidden;
}
html{
    font-family:  var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}
a{
    text-decoration: none;
}
Link{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
.row{
    min-width: 100%;
    height: auto;
}
.containerFull{
    width: 100%;
}
.containerS{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding:  0 2.4rem;
}

.page{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(./assert/img/bg.jpg);
}
ul{
    margin-bottom: 0;
}
.darkMode{
    background-image: url(./assert/img/bg.jpg);
}
.ImgBgHome{
    width: 100%;
    max-width: 100%;
}
